<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="../assets/images/favicon.ico">

        <title>Zircos - Responsive Admin Dashboard Template</title>

        <!--Morris Chart CSS -->
		<!-- Summernote css -->
        <link href="../plugins/summernote/summernote.css" rel="stylesheet" />

        <!-- Select2 -->
        <link href="../plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

        <!-- Jquery filer css -->
        <link href="../plugins/jquery.filer/css/jquery.filer.css" rel="stylesheet" />
        <link href="../plugins/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />

        <!-- App css -->
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="../plugins/switchery/switchery.min.css">

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="../assets/js/modernizr.min.js"></script>

    </head>


    <body>


        <!-- Navigation Bar-->
        <div th:insert="fragments/frAdmin :: header"></div>
        <!-- End Navigation Bar-->


        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="p-20">
                            <div class="">
                                <form method="post" th:action="@{/saveblog}" th:object="${blog}" enctype="multipart/form-data">
                                    <div class="form-group m-b-20">
                                        <label for="exampleInputEmail1">Author</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" th:value="${user.usernameUsers}" disabled>
                                        <input type="hidden" class="form-control" th:field="*{idBlog}">
                                    </div>
                                    <div class="form-group m-b-20">
                                        <label class="m-b-10">Date Create Blog</label>
                                        <br/>
                                        <input type="date" class="form-control" id="exampleInputEmail1" th:field="*{dateBlog}" th:value="${blog.dateBlog}" readonly>
                                    </div>
                                    <div class="form-group m-b-20">
                                        <label for="exampleInputEmail1">Post Title</label>
                                        <input type="text" class="form-control" id="exampleInputEmail1" th:field="*{titleBlog}" placeholder="Enter title">
                                    </div>
                                    <div class="form-group m-b-20">
                                        <label>Description</label>
                                        <textarea class="summernote" th:field="*{contentBlog}">
                                        </textarea>
                                    </div>
                                    <div class="form-group m-b-20">
                                        <label>File Uploads</label>
                                        <input type="file" name="file" >
                                        <input type="hidden" th:field="*{imageBlog}">
                                        <div class="row">
                                           <div class="col-sm-3">
                                           <img th:if="${blog.imageBlog != null }"
                                            th:src="@{'/getblogimage/'+${blog.idBlog}}"
                                            alt="image" class="img-responsive img-rounded"/>
                                      		 </div>
                                      		 </div>
                                    </div>
                                    
                                    <input type="submit" class="btn btn-success waves-light" value="Save and Post">
                                    
                                </form>
                            </div>
                        </div> <!-- end p-20 -->
                    </div> <!-- end col -->
                </div>
               

                <!-- Footer -->
                <footer class="footer text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                © 2016 - 2018 Zircos.
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

            </div>
        </div>

        <!-- Google chart Donut-->
        

        <!-- jQuery  -->
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/detect.js"></script>
        <script src="../assets/js/fastclick.js"></script>
        <script src="../assets/js/jquery.blockUI.js"></script>
        <script src="../assets/js/waves.js"></script>
        <script src="../assets/js/jquery.slimscroll.js"></script>
        <script src="../assets/js/jquery.scrollTo.min.js"></script>
        <script src="../plugins/switchery/switchery.min.js"></script>

       <!--Summernote js-->
       <script src="../plugins/summernote/summernote.min.js"></script>
       <!-- Select 2 -->
       <script src="../plugins/select2/js/select2.min.js"></script>
       <!-- Jquery filer js -->
       <script src="../plugins/jquery.filer/js/jquery.filer.min.js"></script>

       <!-- page specific js -->
       <script src="../assets/pages/jquery.blog-add.init.js"></script>

        <!-- App js -->
        <script src="../assets/js/jquery.core.js"></script>
        <script src="../assets/js/jquery.app.js"></script>
        <script>

            jQuery(document).ready(function(){

                $('.summernote').summernote({
                    height: 240,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: false                 // set focus to editable area after initializing summernote
                });
                // Select2
                $(".select2").select2();

                $(".select2-limiting").select2({
                    maximumSelectionLength: 2
                });
            });
        </script>
    </body>
</html>